@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,600i,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 700 !important;
}

h1 {
  font-weight: 700 !important;
}

/* LOADER */
.loader-container {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0,2,167,1) 0%, rgba(0,1,56,1) 55%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.flex {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #fff 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  font-weight: 900;
  color: #fff !important;
}

/* LOADER */

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10002b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 34, 219);
  border-radius: 360px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00189c;
}

/* SCROLL BAR */

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

i.fa {
  font-size: 20px;
  margin-right: 14px;
  line-height: 39px;
  text-align: center;
  color: #fff;
  background: transparent;
  border-radius: 50%;
  border: 4px solid #fff;
  display: inline-block;
  width: 47px;
}

.MuiDialog-paper {
  border: 2px solid #313131;
  border-radius: 10px !important;
  background-color: #141414 !important;
}

/* NAVBAR */

/* ========================= PARALLAX HEADER ========================= */

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.hero-image {
  animation: float 10s ease-in-out infinite;
  /* background-size: cover; */
}

.text {
  width: 100%;
  height: 20%;
  top: 70%;
  /* background-size: cover; */
}

.parallax-el {
  animation: float 6s ease-in-out infinite;
  box-shadow: 0px 0px 0px 0px;
}

.whitespace {
  width: 100%;
  height: 90vh;
  background-color: black;
}

/* PROFILE */

.profile {
  margin-top: 150px;
  color: white;
  padding: 30px;
  background: rgba(1, 68, 179, 1);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 48%,
    #01389f 30%
  );
  background-position: top;
}

.profile-container {
  text-align: center;
}

.profile-container-avatar > img {
  width: 200px;
  border-radius: 50%;
  border: 7px solid #01389f;
  background-color: #000;
  margin-bottom: 20px;
}

.profile-container-name > h1 {
  font-weight: 900;
  font-size: 50px;
}

.profile-container-name > h5 {
  font-weight: 600;
  font-size: 30px;
}

/* ========================= ABOUT ME ========================= */

.separator {
  width: 100%;
  height: 200px;
  background-image: url(/assets/images/separador.png);
  background-repeat: repeat-x;
  margin-top: -40px;
  border-top: 2px solid #01389f;
  background-color: #000a4e;
  background-size: cover;
}

.about-me {
  background: #000a4e;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 700px));
  justify-content: center;
  padding: 50px;
}

.about-me-title {
  display: inline-block;
}

.about-me-title > h1 {
  color: #6000ff;
  font-weight: 900;
  text-align: center;
}

.about-me-info {
  width: 100%;
  display: inline-block;
}

.about-me-info > p {
  font-size: 20px;
  font-weight: 600;
}

.about-me-info > p > a {
  font-weight: 800;
  color: #6000ff;
  text-decoration: underline;
  transition: 0.5s;
}

.about-me-info > p > a:hover {
  font-weight: 800;
  color: #111111;
  text-decoration: underline;
  transition: 0.5s;
}

.about-bold {
  font-weight: 800;
  color: #0178FF;
}

/* ========================= EXPERIENCE ========================= */

.experience-section {
  color: white;
  background-color: #111111;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size: cover;
  padding: 20px;
}

.timelime-date {
  font-size: 10px;
  margin-top: 5px;
  margin-left: -7px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

.timelime-title {
  font-weight: 900;
}

.timelime-company {
  font-weight: 900;
  color: #0178FF;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #0178FF;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.image-container {
  text-align: center;
}

.timelime-image {
  width: 260px;
}

/* ========================= SKILLS========================= */

.skills-section {
  background: #0f0f0f;
  padding: 50px;
  background-image: url(/assets/images/skillsbg.jpg);
}

.section-skills-title {
  color: white;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid white;
}

.skills-title {
  font-weight: 500;
  color: white;
  font-style: italic;
  padding: 5px;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 5px;
}

.skill-container-title {
  font-weight: 600;
  padding: 5px;
  font-size: 12px;
  color: #111111;
}

.skill-container-tech {
  font-weight: 600;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

.skill-dev {
  background-color: #111111;
  color: #1fc240;
}

.skill-designer {
  background-color: #111111;
  color: #8e00ad;
}

.skill-other {
  background-color: #111111;
  color: #e06b0b;
}

.skill-other-nothing {
  background-color: #e06b0b;
}

.skill-gold {
  background-color: #1fc240;
  color: #fff;
}

.skill-purple {
  background-color: #8e00ad;
  color: #fff;
}

.skill-red {
  background-color: #e06b0b;
  color: #fff;
}

/* ========================= STUDIES ========================= */

.certificate-section {
  background-color: #141414;
  padding: 50px;
}

.certificate-section-title {
  color: white;
  font-weight: 900;
  font-size: 15px;
  position: relative;
}

.certificate-section-title > span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #141414;
}

.certificate-section-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #fff;
}

.certificate-section-title-about {
  color: white;
  font-weight: 900;
  font-size: 15px;
  position: relative;
}

.certificate-section-title-about > span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #100a27;
}

.certificate-section-title-about:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #0022db;
}

.certificate-section-url {
  text-decoration: none;
}

.certificate-section-url:hover {
  text-decoration: none;
}

.certificate-container {
  cursor: pointer;
  margin-top: 10px;
  background-color: #00189c;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: black;
  border: 3px solid #0178FF;
  font-weight: 600;
  color: #fff;
}

.certificate-container:hover {
  background-color: #111111;
  color: #fff;
  transition: 0.5s;
}

.certificate-container-image > img {
  width: 50px;
  border-radius: 50%;
}

.certificate-container-text {
  margin-left: 10px;
}

/* ========================= PROJECTS ========================= */

.projects {
  padding: 20px;
  background: #00189c;
}

.card {
  background: #fff !important;
  color: #111111;
  border: 0px solid white !important;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: scale(0.96);
}

.badge-purple {
  background: indigo;
  color: white;
}

/* ========================= BLOG ========================= */

.blog {
  padding: 20px;
  background: #0f0f0f;
}

.card-blog {
  background: #141414 !important;
  color: #fff;
  border: 0px solid white !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.card-blog-img {
  height: 200px !important;
  background-size: cover !important;
}

/* ========================= FOOTER ========================= */

canvas {
  display: block;
  vertical-align: bottom;
}

.particles-section {
  align-items: center;
  justify-content: center;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(/assets/images/particlesbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
}

.social {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-icons > a > img {
  height: 70px;
  margin-left: 20px;
  transition: 1s;
}

.social-icons > a > img:hover {
  transform: scale(1.2);
  transition: 1s;
}

/* ========================= GENERAL ========================= */
.cursor-pointer {
  cursor: pointer;
}

.url {
  text-decoration: underline;
}

/* ========================= MEDIA ========================= */

@media (max-width: 1024px) {
  .whitespace {
    width: 100%;
    height: 90vh;
    background-color: black;
  }

  .text {
    top: 75%;
    height: 10%;
  }

  .badge-purple {
    background: indigo;
    color: white;
  }

  .card {
    transition: none;
  }

  .card:hover {
    transform: none;
  }
}

/* ========================= MATERIAL UI ========================= */
.MuiTooltip-tooltip {
  font-weight: 700 !important;
  font-size: 1rem !important;
  background-color: #0009be !important;
}

.MuiTooltip-arrow {
  color: #0009be !important;
}

.MuiListItemIcon-root .MuiSvgIcon-root {
  color: white;
}


/* ========================= SKILLS ========================= */
.section {
  display: flex;
  justify-content: center;
}
.wall {
  display: flex;
}
.v-boxes {
  display: flex;
  flex-direction: column;
}
.v-boxes:not(:first-child) {
  margin-left: -75px;
}
.second {
  margin-top: 75px;
}
.third {
  margin-top: 150px;
}
.forth {
  margin-top: 225px;
}
.box {
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 25px;
  cursor: pointer;
}

.box-face {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 9, 190, 0.6);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.box-face:hover {
  background-color: rgba(0, 9, 190, 0.3);
}

.box-face .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  color: #0009be;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: opacity 0s linear 0.3s;
}
.box-back .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.box-back {
  z-index: 0;
  background-image: linear-gradient(#fff, #efefef);
}
.box-text img {
  max-width: 40px;
  max-height: 40px;
  /* -webkit-filter: grayscale(100%) saturate(0);
  filter: grayscale(100%) saturate(0);
  opacity: 1; */
}
